In [4]:
import pandas as pd
import numpy as np

In [7]:
%time np.arange(0,100000,dtype = int).sum()

CPU times: user 632 µs, sys: 621 µs, total: 1.25 ms
Wall time: 637 µs

4999950000

In [8]:
%time np.arange(0,100000,dtype = float).sum()

CPU times: user 856 µs, sys: 817 µs, total: 1.67 ms
Wall time: 3.85 ms

4999950000.0

In [9]:
%time np.arange(0,100000,dtype = object).sum()

CPU times: user 12.2 ms, sys: 3.6 ms, total: 15.8 ms
Wall time: 14.8 ms

4999950000

不同的数据类型运算时间是不同的, time是一次的运行时间,timeit是平均运行时间.

In [10]:
%timeit np.arange(0,100000,dtype = int).sum()

264 µs ± 18.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [11]:
%timeit np.arange(0,100000,dtype = float).sum()

275 µs ± 9.91 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [12]:
%timeit np.arange(0,100000,dtype = object).sum()

9.42 ms ± 175 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

发现object比其他数据类型慢许多

# 数据清洗

(1)   isnull()  notnull()用来判断,返回bool, 先判断再选择. 
(2)  dropna()删除有non的行或是列;
      fillna() 填充所有的空数据,选择向前或向后填充mathod参数
      可以选择行还是列.参数axis = 1(默认是行0)
      how = 'all'所有都为空才删除

In [ ]:
df.fillna()