In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [6]:
s = Series(np.random.randn(10))
s

0    0.559253
1    2.133913
2   -0.309285
3    0.993002
4    2.082965
5   -1.163070
6   -1.546971
7    0.109244
8   -0.780487
9   -0.103979
dtype: float64

# 系列基本功能

In [7]:
s.axes #返回行轴标签列表

[RangeIndex(start=0, stop=10, step=1)]

In [8]:
s.empty#如果系列为空，则返回True

False

In [9]:
s.ndim#返回底层数据的维数，默认定义：1。

1

In [10]:
s.size#返回基础数据中的元素数。

10

In [12]:
s.values#将系列作为ndarray返回。

array([ 0.5592528 ,  2.13391348, -0.30928544,  0.99300168,  2.08296519,
       -1.16306982, -1.54697062,  0.10924353, -0.78048722, -0.10397883])

In [13]:
s.head()

0    0.559253
1    2.133913
2   -0.309285
3    0.993002
4    2.082965
dtype: float64

In [14]:
s.tail()

5   -1.163070
6   -1.546971
7    0.109244
8   -0.780487
9   -0.103979
dtype: float64

In [15]:
s.dtype

dtype('float64')

到目前为止，我们了解了三种Pandas数据结构以及如何创建它们。接下来将主要关注数据帧(DataFrame)对象，因为它在实时数据处理中非常重要，并且还讨论其他数据结构。

# 系列基本功能

### axes   返回行轴标签列表。

### dtype返回对象的数据类型(dtype)。

### empty 如果系列为空，则返回True。

### ndim 返回底层数据的维数，默认定义：1。

### size  返回基础数据中的元素数。

### values 将系列作为ndarray返回。

### head() 返回前n行。

### tail() 返回最后n行。

In [20]:
 df= DataFrame( {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Minsu','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])})
df

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Minsu   29    4.60
6   Jack   23    3.80

In [30]:
df1=df.T
df1

           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Minsu  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [28]:
df

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Minsu   29    4.60
6   Jack   23    3.80

In [24]:
df.axes

[RangeIndex(start=0, stop=7, step=1),
 Index(['Name', 'Age', 'Rating'], dtype='object')]

In [26]:
df.dtypes

Name       object
Age         int64
Rating    float64
dtype: object

In [33]:
display(df.shape)
display(df1.shape)

(7, 3)

(3, 7)

In [35]:
df1.ndim

2

In [36]:
display(df.size)
display(df1.size)

21

21

In [38]:
df.values  #返回datafarme的numpy显示

array([['Tom', 25, 4.23],
       ['James', 26, 3.24],
       ['Ricky', 25, 3.98],
       ['Vin', 23, 2.56],
       ['Steve', 30, 3.2],
       ['Minsu', 29, 4.6],
       ['Jack', 23, 3.8]], dtype=object)

# DataFrame基本功能

### T 转置行和列。

### axes 返回一个列，行轴标签和列轴标签作为唯一的成员。

### dtypes 返回此对象中的数据类型(dtypes)。

### empty 如果NDFrame完全为空[无项目]，则返回为True; 如果任何轴的长度为0。

### ndim 轴/数组维度大小。

### shape 返回表示DataFrame的维度的元组。

### size NDFrame中的元素数。

### values NDFrame的Numpy表示。

### head() 返回开头前n行。

### tail() 返回最后n行。

In [39]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Minsu','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

#Create a DataFrame
df = pd.DataFrame(d)
print(df)

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Minsu   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

In [40]:
df.sum()

Name      TomJamesRickyVinSteveMinsuJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object

In [41]:
df.sum(1) #axis=1

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [42]:
df.mean()

Age       31.833333
Rating     3.743333
dtype: float64

In [43]:
df.mean(1)

0     14.615
1     14.620
2     14.490
3     12.780
4     16.600
5     16.800
6     13.400
7     18.890
8     21.490
9     17.400
10    27.550
11    24.825
dtype: float64

In [44]:
df.std()

Age       9.232682
Rating    0.661628
dtype: float64

# pandas 的描述性统计，下表列出了重要函数 

### count() 非空观测数量

### sum() 所有值之和

### mean() 所有值的平均值

### median() 所有值的中位数

### mode() 值的模值

### std() 值的标准偏差

### min() 所有值中的最小值

### max() 所有值中的最大值

### abs() 绝对值

### prod() 数组元素的乘积

### cumsum() 累计总和

### cumprod() 累计乘积

# 汇总数据describe()

In [46]:
df.describe()

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [49]:
print (df)
for col in df:#(datafrome迭代的是列名称）
    print(col)

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Minsu   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65
Name
Age
Rating

要遍历数据帧(DataFrame)中的行，可以使用以下函数 -

iteritems() - 迭代(key，value)对
iterrows() - 将行迭代为(索引，系列)对
itertuples() - 以namedtuples的形式迭代行

In [52]:
for key, value in df.iteritems():
    print(key,  value)

Name 0        Tom
1      James
2      Ricky
3        Vin
4      Steve
5      Minsu
6       Jack
7        Lee
8      David
9     Gasper
10    Betina
11    Andres
Name: Name, dtype: object
Age 0     25
1     26
2     25
3     23
4     30
5     29
6     23
7     34
8     40
9     30
10    51
11    46
Name: Age, dtype: int64
Rating 0     4.23
1     3.24
2     3.98
3     2.56
4     3.20
5     4.60
6     3.80
7     3.78
8     2.98
9     4.80
10    4.10
11    3.65
Name: Rating, dtype: float64

In [56]:
for row_index, row in df.iterrows():
    print(row_index,':    ',row)

0 :     Name       Tom
Age         25
Rating    4.23
Name: 0, dtype: object
1 :     Name      James
Age          26
Rating     3.24
Name: 1, dtype: object
2 :     Name      Ricky
Age          25
Rating     3.98
Name: 2, dtype: object
3 :     Name       Vin
Age         23
Rating    2.56
Name: 3, dtype: object
4 :     Name      Steve
Age          30
Rating      3.2
Name: 4, dtype: object
5 :     Name      Minsu
Age          29
Rating      4.6
Name: 5, dtype: object
6 :     Name      Jack
Age         23
Rating     3.8
Name: 6, dtype: object
7 :     Name       Lee
Age         34
Rating    3.78
Name: 7, dtype: object
8 :     Name      David
Age          40
Rating     2.98
Name: 8, dtype: object
9 :     Name      Gasper
Age           30
Rating       4.8
Name: 9, dtype: object
10 :     Name      Betina
Age           51
Rating       4.1
Name: 10, dtype: object
11 :     Name      Andres
Age           46
Rating      3.65
Name: 11, dtype: object

itertuples()方法
将为DataFrame中的每一行返回一个产生一个命名元组的迭代器。
元组的第一个元素将是行的相应索引值，而剩余的值是行值。

In [58]:
for row in df.itertuples():
    print(row)

Pandas(Index=0, Name='Tom', Age=25, Rating=4.23)
Pandas(Index=1, Name='James', Age=26, Rating=3.24)
Pandas(Index=2, Name='Ricky', Age=25, Rating=3.98)
Pandas(Index=3, Name='Vin', Age=23, Rating=2.56)
Pandas(Index=4, Name='Steve', Age=30, Rating=3.2)
Pandas(Index=5, Name='Minsu', Age=29, Rating=4.6)
Pandas(Index=6, Name='Jack', Age=23, Rating=3.8)
Pandas(Index=7, Name='Lee', Age=34, Rating=3.78)
Pandas(Index=8, Name='David', Age=40, Rating=2.98)
Pandas(Index=9, Name='Gasper', Age=30, Rating=4.8)
Pandas(Index=10, Name='Betina', Age=51, Rating=4.1)
Pandas(Index=11, Name='Andres', Age=46, Rating=3.65)

In [71]:
df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3'])
print(df,'\n\n')
for index, row in df.iterrows():
#     print(index,row)
    row['col4'] = 10
    print(row)
print (df)
print(df.size)

#注意到df本身并没有改变

       col1      col2      col3
0  1.622171 -1.979461 -0.777134
1 -0.636737 -1.391287  0.821626
2 -0.195248  0.056652  0.011388
3  1.943127 -0.800468 -0.436250


col1     1.622171
col2    -1.979461
col3    -0.777134
col4    10.000000
Name: 0, dtype: float64
col1    -0.636737
col2    -1.391287
col3     0.821626
col4    10.000000
Name: 1, dtype: float64
col1    -0.195248
col2     0.056652
col3     0.011388
col4    10.000000
Name: 2, dtype: float64
col1     1.943127
col2    -0.800468
col3    -0.436250
col4    10.000000
Name: 3, dtype: float64
       col1      col2      col3
0  1.622171 -1.979461 -0.777134
1 -0.636737 -1.391287  0.821626
2 -0.195248  0.056652  0.011388
3  1.943127 -0.800468 -0.436250
12

# pandas排序

### Pandas有两种排序方式，它们分别是 - 按标签和按实际值

In [87]:
unsorted_df = DataFrame(np.random.randn(8,5),columns = ['a','b','e','d','c'],index = [1,4,5,6,7,8,2,3])
unsorted_df

          a         b         e         d         c
1 -1.730522 -0.339337  2.635157  1.964439 -0.742851
4 -0.610626 -0.209742 -0.682384 -0.823523  1.073104
5  0.166566 -1.334454 -0.598731 -0.493735  0.261229
6 -0.396900 -0.291240  0.226792 -0.619079  0.354057
7  0.992135 -0.353563  0.899391  0.303107  0.915933
8 -0.879595  0.628722  0.487683 -1.072534  0.297231
2 -0.031485  1.443466 -0.500327  0.372363 -0.639242
3  0.233166 -0.042166  0.084591  0.477007 -0.316974

## 按标签排序

In [88]:
sort_df = unsorted_df.sort_index(1)#通过传递axis参数值为0或1，可以对列标签进行排序。 默认情况下，axis = 0，逐行排列
sort_df

          a         b         c         d         e
1 -1.730522 -0.339337 -0.742851  1.964439  2.635157
4 -0.610626 -0.209742  1.073104 -0.823523 -0.682384
5  0.166566 -1.334454  0.261229 -0.493735 -0.598731
6 -0.396900 -0.291240  0.354057 -0.619079  0.226792
7  0.992135 -0.353563  0.915933  0.303107  0.899391
8 -0.879595  0.628722  0.297231 -1.072534  0.487683
2 -0.031485  1.443466 -0.639242  0.372363 -0.500327
3  0.233166 -0.042166 -0.316974  0.477007  0.084591

In [89]:
sort_df = unsorted_df.sort_index()
sort_df

          a         b         e         d         c
1 -1.730522 -0.339337  2.635157  1.964439 -0.742851
2 -0.031485  1.443466 -0.500327  0.372363 -0.639242
3  0.233166 -0.042166  0.084591  0.477007 -0.316974
4 -0.610626 -0.209742 -0.682384 -0.823523  1.073104
5  0.166566 -1.334454 -0.598731 -0.493735  0.261229
6 -0.396900 -0.291240  0.226792 -0.619079  0.354057
7  0.992135 -0.353563  0.899391  0.303107  0.915933
8 -0.879595  0.628722  0.487683 -1.072534  0.297231

## 按值排序
#### 像索引排序一样，sort_values()是按值排序的方法。它接受一个by参数，它将使用要与其排序值的DataFrame的列名称。

In [97]:
sort_df = unsorted_df.sort_values('d')
sort_df

          a         b         e         d         c
8 -0.879595  0.628722  0.487683 -1.072534  0.297231
4 -0.610626 -0.209742 -0.682384 -0.823523  1.073104
6 -0.396900 -0.291240  0.226792 -0.619079  0.354057
5  0.166566 -1.334454 -0.598731 -0.493735  0.261229
7  0.992135 -0.353563  0.899391  0.303107  0.915933
2 -0.031485  1.443466 -0.500327  0.372363 -0.639242
3  0.233166 -0.042166  0.084591  0.477007 -0.316974
1 -1.730522 -0.339337  2.635157  1.964439 -0.742851

In [94]:
sort_df = unsorted_df.sort_values(by =['d','e'])
sort_df

          a         b         e         d         c
8 -0.879595  0.628722  0.487683 -1.072534  0.297231
4 -0.610626 -0.209742 -0.682384 -0.823523  1.073104
6 -0.396900 -0.291240  0.226792 -0.619079  0.354057
5  0.166566 -1.334454 -0.598731 -0.493735  0.261229
7  0.992135 -0.353563  0.899391  0.303107  0.915933
2 -0.031485  1.443466 -0.500327  0.372363 -0.639242
3  0.233166 -0.042166  0.084591  0.477007 -0.316974
1 -1.730522 -0.339337  2.635157  1.964439 -0.742851

Signature:
unsorted_df.sort_values(
    by,
    axis=0,
    ascending=True,
    inplace=False,
    kind='quicksort',
    na_position='last',
)

In [96]:
sort_df = unsorted_df.sort_values(by =['d',],ascending=False)#按下降顺序
sort_df

          a         b         e         d         c
1 -1.730522 -0.339337  2.635157  1.964439 -0.742851
3  0.233166 -0.042166  0.084591  0.477007 -0.316974
2 -0.031485  1.443466 -0.500327  0.372363 -0.639242
7  0.992135 -0.353563  0.899391  0.303107  0.915933
5  0.166566 -1.334454 -0.598731 -0.493735  0.261229
6 -0.396900 -0.291240  0.226792 -0.619079  0.354057
4 -0.610626 -0.209742 -0.682384 -0.823523  1.073104
8 -0.879595  0.628722  0.487683 -1.072534  0.297231

https://www.yiibai.com/pandas/python_pandas_working_with_text_data.html#article-start

# Pandas选项和自定义

Pandas提供API来自定义其行为的某些方面，大多使用来显示。
API由五个相关函数组成。它们分别是 -

get_option()set_option()reset_option()describe_option()option_context()

In [101]:
import pandas as pd
print ("display.max_rows = ", pd.get_option("display.max_rows"))

display.max_rows =  60

In [108]:
print ("display.max_columns = ", pd.get_option("display.max_columns"))

display.max_columns =  20

In [116]:
print ("display.max_columns = ", pd.set_option("display.max_columns",60))
print ("display.max_columns = ", pd.get_option("display.max_columns"))

display.max_columns =  None
display.max_columns =  60

# Pandas索引和选择数据

Pandas现在支持三种类型的多轴索引:

1  
.loc[]
基于标签

2  
.iloc[]
基于整数

3  
.ix[]
基于标签和整数

loc需要两个单/列表/范围运算符，用","分隔。第一个表示行，第二个表示列。

使用多轴索引从Pandas对象获取值可使用以下符号 -


Series   
s.loc[indexer]
标量值


DataFrame   
df.loc[row_index,col_index]
标量对象


Panel     
p.loc[item_index,major_index, minor_index]

.loc[]具有多种访问方式，如 -

单个标量标签/  标签列表/  切片对象/   一个布尔数组
loc需要两个单/列表/范围运算符，用","分隔。第一个表示行，第二个表示列。

In [122]:

df = DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

#select all rows for a specific column
print (df.loc[:,'A'])

a    1.203913
b   -0.362126
c   -1.867212
d    0.866891
e   -0.356574
f    1.975950
g    0.062863
h   -0.450279
Name: A, dtype: float64

In [125]:
print (df.loc[['a','b','f','h'],['A','C']])
# Select all rows for multiple columns, say list[]
print (df.loc[:, ['A','C']])

          A         C
a  1.203913 -1.203222
b -0.362126 -0.438456
f  1.975950 -0.329974
h -0.450279  1.634640
          A         C
a  1.203913 -1.203222
b -0.362126 -0.438456
c -1.867212  0.202624
d  0.866891 -0.457662
e -0.356574 -0.688285
f  1.975950 -0.329974
g  0.062863 -0.622442
h -0.450279  1.634640

In [147]:
print(df.loc['a':'g'])

          A         B         C         D
a  1.203913 -0.823357 -1.203222 -0.760211
b -0.362126 -2.192343 -0.438456  0.321756
c -1.867212 -0.296679  0.202624 -0.251226
d  0.866891  2.567247 -0.457662 -1.534597
e -0.356574  0.860418 -0.688285 -0.401064
f  1.975950 -1.544931 -0.329974  1.821399
g  0.062863 -0.427669 -0.622442 -0.867116

In [136]:
print (df.loc['a']>0)

A     True
B    False
C    False
D    False
Name: a, dtype: bool

In [138]:
print(df.loc[:,'A']>0)

a     True
b    False
c    False
d     True
e    False
f     True
g     True
h    False
Name: A, dtype: bool

In [139]:
print(df.iloc[:6:2])

          A         B         C         D
a  1.203913 -0.823357 -1.203222 -0.760211
c -1.867212 -0.296679  0.202624 -0.251226
e -0.356574  0.860418 -0.688285 -0.401064

In [144]:
print(df.iloc[:6:2,::-1])

          D         C         B         A
a -0.760211 -1.203222 -0.823357  1.203913
c -0.251226  0.202624 -0.296679 -1.867212
e -0.401064 -0.688285  0.860418 -0.356574

# 统计函数

## ptc_change（）函数

将每个值和前一个值做比较，并计算百分比。

In [ ]:
import numpy as np
import pandas as pd

pd5 = pd.DataFrame(np.random.randint())